
 
  <div class="box p-1 bg-info text-white">
    <h1 class="display-2 pr-3 pl-3 text-center bgr mt-5">About The Wright Way</h1>
  </div>
  <div class="box2 p-5 bg-dark text-white d-flex justify-content-center scrollbarV ">
    <div class=" border pr-4 pl-4 pb-4 pt-4 text-center border-info width-div text-wrap overflow-auto" id ="style-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque alias nisi, libero ex reiciendis blanditiis veniam doloremque odio dolore ullam facere ratione debitis sit maxime provident ipsa et, perspiciatis necessitatibus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elitnt et ipsam nam eaque dolorum! Possimus, voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus unde quisquam dolores magnam saepe placeat laudantium quam, tempora sed dolore dolorum hic quaerat quia doloribus officiis ex odit corporis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet reprehenderit quos tempore distinctio quas, temporibus laborum ipsam molestiae vitae voluptates pariatur, dolorem tempora neque ad dolor corporis magni facilis esse!
    </div>
 </div>

