
<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-2 bgr mt-5">Welcome to The Wright Way</h1>
      <hr class="my-4">
      
      <%= link_to 'Login', login_path, class: " mt-5 btn btn-success btn-lg" %>
    </div>
  </div>


