<%= render 'layouts/navbar' %>
<div class="container">
<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-2 bgr mt-2">Welcome to Wright Way</h1>
      <hr class="my-4">
      <a class="mt-5 btn btn-success btn-lg" href="#" role="button">Login</a>
    </div>
  </div>
</div>

